<!DOCTYPE html>
{% extends 'testapp/base.html'%}
{% block body_block %}

<div class="container">
    <div class="jumbotron">

        <h1>Welcome To Home Page</h1>
        <ul>
            <li>This is Home Page........</li>
            <li>This is Home Page........</li>
            <li>This is Home Page........</li>
            <li>This is Home Page........</li>
            <li>This is Home Page........</li>
            <li>This is Home Page........</li>
            <li>This is Home Page........</li>
            
        </ul>

    </div>

</div>
{% endblock %}